@import "../../styles/variables";

.button__logout{
    color: $color--text;
    background: none;
    cursor: pointer;
    border: none;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 65px;
}



.menu__itens{
    display: flex;
    justify-content: center;    
    align-items: flex-start;
    position: relative;
    bottom: 100px;
}

.ul__menus{
    display: flex;
    
}

.button__li{
    margin:40px;
    margin-top: 0px;
    text-decoration: none;
    color: $color--text;
    font-family: $font--title;
    font-size: 24px;
}

.button__li:hover{
    text-decoration: underline;
}