@import "../../../styles/variables";

.title__content{
    font-family: $font--title;
    font-size: 24px;
    color: $color--text;
    text-decoration: underline;
    width: 100px;
    display: flex;
    justify-content: center;
}

.title__page{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
    
}

.subtitle__content{
    font-family: $font--title;
    font-size: 22px;
    color: $color--text;
    background-color: $background--header;
    width: 120px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px
    
}

.subtitle__page{
    
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 50px;
    
}

.label__main{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color: $color--text;
    font-family: $font--text;
    font-size: 20px;
}

.input__main{
    width: 300px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    margin-left: 10px;

    font-family: $font--text;
    font-size: 16px;
}
.input__main:focus{
    outline: none;
}

.button__back{
    color: $color--text;
    background: none;
    cursor: pointer;
    border: none;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button__register{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 65px;
}

.form__main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__confirm{
    background-color: $background--header;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button__icon{
    color: $color--text ;

}

.div__button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.buttons__link{
    display: flex;
    justify-content: space-around;
}

.register__link{
    font-size: 20px;
    font-family: $font--title;
    color: $color--text;
    text-decoration: none;
    background-color: $background--header;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}